@{
    ViewData["Title"] = "Home";
}
<div class="animated fadeInUp middle-box text-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Text here</h5>
                   @*  @Html.ActionLink("Cross Country", "Index", "XC", null, new { @class = "btn btn-primary m-t" })
                    <button href="#" type="button" class="btn btn-primary m-t">Track & Field</button> *@
                </div>
            </div>
        </div>
    </div>
</div>